.App {
  padding: 2em;
}

th {
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


button,
[role=button] {
  display: inline-block;
  border: 3px solid rgba(0,0,0,.8);
  background-color: transparent;
  text-decoration: none;
  color: rgba(0,0,0,.8);
  font-weight: bold;
  padding: .5em;
  cursor: pointer;
}
button:hover,
[role=button]:hover {
  background-color: rgba(0,0,0,.8);
  border: 3px solid transparent;
  color: rgba(255,255,255,.8);
}

.logo {
  text-align: center;
  margin-top: 0;
}

.result {
  font-weight: bold;
  font-size: 1.5em;
}

.Login {
  margin-top: 2em;
  text-align: center;
}

.AccountSelect {
  margin-top: 2em;
}

.EditableTable {
  width: 100%;
  border-collapse: collapse;
}
.EditableTable th {
  cursor: pointer;
}
.EditableTable td {
  padding: .5em;
}
.EditableTable__total td {
  border-top: 3px solid black;
  padding-top: 1em;
  font-weight: bold;
}